body {
  background-color: gray;
  text-align: left;
}

h1 {
  color: black;
  text-align: center;
  font-size: 48px;
}

.sidebar {
  width: 15%;
  float: right;
  background-color: darkgray;
}

.about h1 {
  text-align: center;
  font-size: 56px;
  color: darkgray;
}
